- const extension = val.name.split('.').pop().toLowerCase();
- const fileTypes = ["doc", "docx", "log", "txt", "wps", "csv", "dat", "ppt", "xml", "mp3", "wav", "avi", "mov", "mp4", "3ds", "max", "ai", "pdf", "xls", "xlsx", "sql", "exe", "js", "html", "xhtml", "css", "asp", "ttf", "dll", "7z", "zip", "c", "cs", "java", "swift", "torrent", "php", "hh", "go", "py", "rss", "rb", "psd", "bmp", "vb"];
if (fileTypes.includes(extension))
    div(class = "file-icon-wrap")
            div(class="fi fi-" + extension)
                div(class="fi-content")= extension
else
    div(class = "file-icon-wrap")
        div(class="fi fi-any")
            div(class="fi-content") any