doctype html
html
  head
    title File Server
    link(rel='stylesheet', href='/css-file-icons.css' type='text/css')
    link(rel='stylesheet', href='/style.css')
    script(type='text/javascript' src='requests.js')
  body
    block content
