doctype html
html
  head
    title File Server
    link(rel='stylesheet', href='/css/css-file-icons.css' type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src='/js/requests.js')
  body
    block content
