doctype html
html
  head
    title MyCloud
    link(rel='stylesheet' type="text/css" href='/css/css-file-icons.css')
    link(rel='stylesheet' type="text/css" href='/css/style.css')
    link(rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1000px)" href="/css/mobile-style.css")
    script(type='text/javascript' src='/js/requests.js')
  body
    block content
