extends layout

block content
    div(class="login-container")
        div(class="box-container")
            div(class="logo-wrap")
                img(class="login-logo" src="/images/logo.png" alt="nicwands")
            div(class="login-form-wrap")
                h1(class="login-header") My Cloud
                i(class="gg-profile user-icon")
                input(class="login-input" type="text" id="username" placeholder="Username" autocomplete="off")
                i(class="gg-lock user-icon" id="lock-icon")
                input(class="login-input" type="password" id="password" placeholder="Password")
                button(class="login-submit" onclick="sendRequest()") Sign in
                p(class="login-error" id="error") Invalid username/password

    script.
        document.getElementById('username').addEventListener('keypress', enterSubmit)
        document.getElementById('password').addEventListener('keypress', enterSubmit)

        function enterSubmit(e) {
            if (e.key === "Enter") {
                sendRequest();
            }
        }

        function sendRequest() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            getToken(username, password).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                } else {
                    document.getElementById('error').style.display = "block";
                }
            })
        }