@import url('https://css.gg/profile.css');
@import url('https://css.gg/lock.css');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #C1314D;
}

a:visited {
    color: #C1314D;
}

input:focus {
    outline: none;
}

.app-container {
    padding: 1em 5em 0 5em;
}

.top-bar {
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #707070;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.title {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}

.progress-container {
    display: none;
    width: 30%;
    height: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: #95c4f3;
}

.bar {
    width: 0;
    height: 3px;
    background: #247fcc;
    border-radius: 10px;
}

.breadcrumb-container {
    margin-bottom: 1em;
    margin-left: -5px;
}

.breadcrumb {
    color: #707070;
    margin-right: 2px;
    padding: 5px;
    border-radius: 5px;
    display: inline;
}

.breadcrumb:hover {
    background: #eeeeee;
}

.breadcrumb:visited {
    color: #707070;
}

.breadcrumb-separator {
    color: #707070;
    padding: 5px 0;
    display: inline;
}

.add-input-container {
    margin-bottom: 1em;
}

.header {
    font-size: 1.25em;
    font-weight: 600;
    color: #434343;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.add-folder-icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 1px;
    width: 1.25em;
}

.add-folder-icon:hover {
    cursor: pointer;
}

.folder-modal {
    display: none;
    position: absolute;
    left: 5em;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    padding: 2em;
    z-index: 99;
}

#modalClose {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1em;
}

.folder-name-input {
    border: none;
    border-bottom: 1px solid #707070;
    font-size: 1.75em;
}

.folder-name-submit {
    width: 1.5em;
    cursor: pointer;
}

.add-file {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 5px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file:focus + label,
.input-file + label:hover {
    cursor: pointer;
    color: #707070;
}

.add-file-icon {
    width: 1.25em;
    margin-top: -2.5px;
}

.folder-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.folder-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    width: 15em;
    height: 3em;
    margin-bottom: 1em;
    margin-right: 20px;
    overflow: hidden;
}

.folder-link {
    color: #000;
    width: 85%;
    height: 100%;
}

.folder-link:visited {
    color: #000;
}

.interior-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.folder-icon {
    margin: 0 5%;
    width: 15%
}

.foldername {
    text-align: left;
    font-weight: 600;
    width: 70%
}

.folder-close {
    width: 15%;
    height: 100%;
    background: #c9c9c9;
    position: relative;
    z-index: 10;
}

.folder-close:hover {
    background: #b4b4b4;
}

.file-list {
    width: 100%;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5em;
}

.file-container {
    width: 14em;
    height: 19em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 0 2% 0;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
}

.click-target {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 2;
}

.click-target + div {
    transition: ease-in-out all 200ms;
}

.click-target:hover + div {
    margin-top: -5px;
}

.file-image-container {
    width: 12em;
    height: 12em;
    margin-left: 1em;
    position: relative;
    overflow: hidden;
}

.file-thumbnail {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 }

.file-icon-wrap {
    width: 12em;
    height: 12em;
    margin-left: 1em;
}

.file-icon {
    width: 75%;
    height: 100%;
}

.filename {
    text-align: center;
    font-weight: 600;
}

.dload-delete-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    z-index: 3;
}

.dload-container {
    background: #95c4f3;
    width: 50%;
    height: 3em;
    display: inline-block;
    cursor: default;
    position: relative;
}

.dload-container:hover {
    background: #8bb7e4;
}

.dload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
}

.delete-container {
    background: #c9c9c9;
    width: 50%;
    height: 3em;
    display: inline-block;
    position: relative;
}

.delete-container:hover {
    background: #b4b4b4;
}

.delete-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
}

.footer {
    width: 100%;
    border-top: 1px solid #707070;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*
    Login Page
*/

.login-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo-wrap {
    width: 300px;
    height: 250px;
    transform: translateX(50px);
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
}

.login-logo {
    width: 200px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.login-form-wrap {
    background: #fff;
    border: 3px solid #C1314D;
    border-radius: 20px;
    padding: 2.75em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 2;
}

.login-header {
    font-weight: 600;
    font-size: 2.75em;
    text-align: left;
    margin: 0 0 0.75em 0;
}

.login-input {
    display: block;
    border: none;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
    font-size: 1.75em;
    padding-left: 35px;
    transition: ease-in-out all 200ms;
}

.user-icon {
    position: absolute;
    color: #707070;
    margin: 7px 0 0 5px;
}

#lock-icon {
    margin-left: 10px;
}

.login-input::placeholder {
    font-weight: 300;
}

.login-input:focus {
    outline: none;
    border-color: #C1314D;

}

.login-submit {
    background: #C1314D;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    font-size: 1.25em;
    float: right;
    margin-top: 0.5em;
}

.login-submit:hover {
    background: #a52c47;
}

.login-error {
    display: none;
    margin: 1.25em 0 0 0;
    float: left;
}