@import url('https://css.gg/software-download.css');
@import url('https://css.gg/close.css');
@import url('https://css.gg/folder.css');
@import url('https://css.gg/file-add.css');

body {
    font-family: sans-serif;
    padding-bottom: 3em;
}

h1 {
    text-align: center;
}

.file-list {
    margin: auto;
    width: 50%;
}

.file-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 0 2% 0;
    padding: 10px;
}

.file-thumbnail {
    width: 10%;
 }

.file-icon-wrap {
    width: 10%;
}

.folder-icon {
    width: 5%;
    margin: 0 2.5%;
    height: 1.5em;
}

.icon-wrap {
    width: 5%;
}

.file-flex > p {
    width: 80%;
    text-align: left;
    padding-left: 10px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*.input-file + label {*/
/*    width: 100%;*/
/*}*/

.input-file:focus + label,
.input-file + label:hover {
    cursor: pointer;
    color: #707070;
}

.add-file-icon-wrap {
    margin: 3em auto;
    width: 3em;
}

.gg-file-add {
    width: 3em;
    height: 3em;
}

.login-error {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .file-list {
        width: 90%;
    }
}